<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4 class="text-center">Agregar una receta</h4>
            <form action="/admin/recipes/agregar" enctype="multipart/form-data" method="post">
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título" />
                </div>
                <div class="mb-3 row">
                    <input class="form-control" id="subtitulo" name="subtitulo" placeholder="Subtítulo" />
                </div>
                <div class="mb-3 row">
                    <textarea class="form-control" id="cuerpo" name="cuerpo" placeholder="Cuerpo"></textarea>
                </div>
                <div class="mb-3 row">
                    <label for="imagen" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="imagen" name="imagen" />
                </div>
                
                <input type="submit" class="btn btn-primary" value="Agregar" />
                <a href="/admin/recipes" class="btn btn-secondary">Cancelar</a>
            </form>
            {{#if error}}
            <div class="alert alert-danger mt-3" role="alert">
                {{message}}
            </div>
            {{/if}}
        </div>
    </div>
</div>