.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
  color: black;
}

.card__image {
  width: 320px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  overflow: hidden;
}

.card__image img {
  width: 100%;
  object-fit: cover;
}

.card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.card__title {
}

.card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: normal;

}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 1rem;
  padding: 1rem;
  flex-grow: 1;
}
